[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
django-filter ="*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
install = "*"
pycodestyle = "*"
pytz = "*"
sqlparse = "*"
toml = "*"
whitenoise = "*"
Django = "*"
PyJWT = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.6"
