{% extends 'main.html' %} {% block content %}
<br />
<div class="container">
  <h4 style="color: red">Gene Name: {{gene}}</h4>
  <br />
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form method="get">
          {% csrf_token %} {{ my_filter.form }}
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Variant</th>
        <th scope="col">Impact</th>
        <th scope="col">Protein Effect</th>
        <th scope="col">Variant Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for variant in variant_list %}
      <tr>
        <th scope="row">
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'variant-detail' variant.id %}"
            >{{variant.variant}}</a
          >
        </th>
        <td>{{variant.impact}}</td>
        <td>{{variant.protein_effect}}</td>
        <td>{{variant.variant_description}}</td>
        <td>
          <a
            class="btn btn-warning"
            href="{% url 'variant-detail' variant.id %}"
            >View</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
  <!-- ----------------------------------------------- -->
  {% if page_obj.has_previous %}
  <!-- ----------------------------------------------- -->
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a
    class="btn btn-outline-info mb-4"
    href="?page={{ page_obj.previous_page_number }}"
    >Previous</a
  >
  {% endif %}
  <!-- ----------------------------------------------- -->
  {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  <!-- ----------------------------------------------- -->
  {% endfor %}
  <!-- ----------------------------------------------- -->
  {% if page_obj.has_next %}
  <a
    class="btn btn-outline-info mb-4"
    href="?page={{ page_obj.next_page_number }}"
    >Next</a
  >
  <a
    class="btn btn-outline-info mb-4"
    href="?page={{ page_obj.paginator.num_pages }}"
    >Last</a
  >
  {% endif %}
  <!-- ----------------------------------------------- -->
  {% endif %}
</div>
{% endblock content %}
