{% extends 'main.html' %} {% load static %}{% block content %}
<br />
<div class="container">
  <!--Title-->

  <h1
    class="
      flex
      items-center
      font-sans font-bold
      break-normal
      px-2
      py-8
      text-xl
      md:text-2xl
    "
  >
    Gene Name: {{gene}}
  </h1>

  <!--Card-->
  
    
      <table id="example" class="stripe hover"
      style="width: 100%; padding-top: 1em; padding-bottom: 1em;">

        <thead>
            <tr>
            <th>Variant</th>
          <th>Impact</th>
          <th>Protein Effect</th>
          <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
           {% for variant in variant_list %}
            <tr>
                <td class="variant-heading"><a
              class="btn btn-outline-secondary btn-sm"
              href="{% url 'variant-detail' variant.id %}"
              >{{variant.variant}}</a
            ></td>
                <td>{{variant.impact}}</td>
          <td>{{variant.protein_effect}}</td>
          <td>{{variant.variant_description}}</td>
                
            </tr>
                    {% endfor %}

        </tbody>
</table>
<br>
  
  <!--/Card-->
  
</div>
{% endblock content %}
