{% extends 'main.html' %} {% block content %}
<div>
  <h4>Gene Variant Detail</h4>

  <table class="table table-dark table-striped">
    <tbody>
      {% for variant in variants %}
      <tr>
        <th scope="row">Gene</th>
        <td>{{variant.gene}}</td>
      </tr>
      <tr>
        <th scope="row">Variant</th>
        <td>{{variant.variant}}</td>
      </tr>
      <tr>
        <th scope="row">Impact List</th>
        <td colspan="2">{{variant.impact}}</td>
      </tr>
      <tr>
        <th scope="row">Protein Effect</th>
        <td colspan="2">{{variant.protein_effect}}</td>
      </tr>
      <tr>
        <th scope="row">Gene Variant Descriptions</th>
        <td colspan="2">{{variant.variant_description}}</td>
      </tr>
      <tr>
        <th scope="row">Associated Drug Resistance</th>
        <td colspan="2">{{variant.associated_with_drug_resistance}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
