{% extends 'main.html' %} {% block content %} <br /><br />
{% if page == "register" %}
<h3>Register User</h3>
<p>Create a new account</p>
<form action="" method="POST">
  {% csrf_token %} {% for field in form %}
  <div class="mb-3">
    <label for="" class="form-label">{{field.label}}</label>
    {{field}}
  </div>
  {% endfor %}
  <br />
  <input class="btn btn-primary" type="submit" value="Register" />
</form>

<p>Already have an Account?</p>
<a href="{% url 'login-user' %}">Log In</a>

{% else %}

<h3>Account Login</h3>
<p>Hello, Welcome Back!</p>
<form action="" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputUsername" class="form-label">Username</label>
    <input
      name="username"
      type="text"
      class="form-control"
      id="exampleInputUsername"
      aria-describedby=""
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <p><a href="#">Forget Password?</a></p>
    <p>Don’t have an Account?<a href="{% url 'register-user' %}">Sign Up</a></p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endif %} {% endblock content %}
