{% extends 'main.html' %} {% load static %} {% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-md">
      <h4>Delete Confirmation</h4>
      <hr />
      <div class="card card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <h4>Are you sure to delete the patient[{{ patient.name }}]?</h4>
          <br />
          <input type="submit" class="btn btn-danger" value="YES" />
          <a href="{% url 'home' %}" class="btn btn-primary">CANCEL</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
