:root {
  --color-main: #5aa5b9;
  --color-main-light: #e6faff;
  --color-sub: #3f4156;
  --color-sub-light: #51546e;
  --color-sub-lighter: #ededfd;
  --color-text: #737373;
  --color-gray: #8b8b8b;
  --color-light: #e5e7eb;
  --color-light-gray: #767676;
  --color-bg: #f8fafd;
  --color-white: #fffefd;
  --color-white-light: #f3f3f3;
  --color-success: #359e64;
  --color-success-bg: #def8e8;
  --color-error: #fc4b0b;
  --color-error-bg: #fff2ee;
  --font-base: "Poppins", arial, helvetica, "Segoe UI", roboto, ubuntu,
    sans-serif;
  --font-monospace: "Fira Code", "Courier New", courier, monospace;
  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --generic-shadow: 1px 1px 5px #00000010;
  --generic-transition: all 0.3s ease-in-out;
}

body {
  background-color: whitesmoke;
  color: #474748;
}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  color: #4a5568; /*text-gray-700*/
  padding-left: 1rem; /*pl-4*/
  padding-right: 1rem; /*pl-4*/
  padding-top: 0.5rem; /*pl-2*/
  padding-bottom: 0.5rem; /*pl-2*/
  line-height: 1.25; /*leading-tight*/
  border-width: 2px; /*border-2*/
  border-radius: 0.25rem;
  border-color: #edf2f7; /*border-gray-200*/
  background-color: #edf2f7; /*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: white; /*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-weight: 700; /*font-bold*/
  border-radius: 0.25rem; /*rounded*/
  border: 1px solid transparent; /*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important; /*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /*shadow*/
  font-weight: 700; /*font-bold*/
  border-radius: 0.25rem; /*rounded*/
  background: #667eea !important; /*bg-indigo-500*/
  border: 1px solid transparent; /*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important; /*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /*shadow*/
  font-weight: 700; /*font-bold*/
  border-radius: 0.25rem; /*rounded*/
  background: #667eea !important; /*bg-indigo-500*/
  border: 1px solid transparent; /*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0; /*border-b-1 border-gray-300*/
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: #667eea !important; /*bg-indigo-500*/
}

.gene-grid {
  background-color: white;
  color: #474748;
  border: 1px solid gray;
}

.gene-grid :hover {
  height: 100%;
  background-color: #fec107;
}

.box-grid {
  background: #fec107;
  border: 1px solid gray;
}

.btn-change {
  height: 50px;
  width: 100px;
  background: lightseagreen;
  margin: 20px;
  float: left;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
}
.btn-change:hover {
  -webkit-transform: scale(1.1);
  background: #31708f;
}

.alert {
  position: fixed;

  left: 50%;

  top: 120px;

  transform: translate(-50%, -50%);

  z-index: 99999;
}

.alert {
  display: inline-flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  border-radius: 3px;
  border: 1px solid var(--color-white-light);
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.alert,
.alert > .alert__message {
  background-color: var(--color-main-light);
  color: var(--color-main);
  font-size: 1.4rem;
  font-weight: var(--font-medium);
}

.alert.alert--error,
.alert.alert--error > .alert__message {
  background-color: var(--color-error-bg);
  color: var(--color-error);
}

.alert.alert--success,
.alert.alert--success > .alert__message {
  background-color: var(--color-success-bg);
  color: var(--color-success);
}

.alert > .alert__close {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: transparent;
  font-size: 2rem;
  transition: var(--generic-transition);
}

.alert > .alert__close:hover {
  opacity: 0.85;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color:black !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  font-weight: 700;
  border-radius: 0.25rem;
  background:#fec107!important;
  background-image: initial !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;

  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color:black;
  border: 1px solid transparent;
}*Row Hover*/
table.dataTable.hov
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #fec107;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

